body {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
}

/* This was unneeded formatting from a previous attempt at making the countdown scale to the stripes
mark {
    background-color: #E82E21;
    color: white;
}*/ 

/*this contains the second stripe and the countdown itself so that they scale to each other*/
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex-grow: 1;
}

.flex-2 {
  flex-grow: 2;
}

/*I stole the font from the New School website. I don't think it's legal since only this version of the font could be converted*/
@font-face {
font-family: "Neue Display Wide";
src: url("../fonts/neuedisplay-wide-webfont.eot");
src:
url("fonts/neuedisplay-wide-webfont.woff") format("woff"),
url("fonts/neuedisplay-wide-webfont.otf") format("opentype"),
url("fonts/neuedisplay-wide-webfont.svg#filename") format("svg");
}

p {
  font-size: 72px;
  margin-top: 0px;
  font-family: "Neue Display Wide";
}

#demo {
  text-align: left;
  color: #E82E21;
  order: 2;
  margin-left: 20px;
}

#subtitle {
  font-size: 24px;
  text-align: left;
  font-family: "Neue Display Wide";
  color: black;
}

#stripe {
  background-color: black;
  height: 13px;
  width: 100%;
  order: -1;
  margin-top: 15px;
  margin-bottom: -15px;
}

/*the below items would be used to push the second stripe behind the text,
but I can't figure out how to apply a red highlight to the text
as it does not appear in the html.
I ended up using flex box instead.*/

/*.front {
  display: block;
  z-index: 5;
}

.behind {
    display: block;
    z-index: 3;
    position: relative;
    margin: -25px;
}*/
